@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Titan+One&display=swap');

.header {
	
	
  	width: 100%;
	font-family: "Luckiest Guy", cursive;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #4e96f7;
	color: #fff;
  }
  
  .logo {
	font-size: 24px;
	
	display: flex; 
	align-items: center; 
	text-shadow: 2px 1px 2px black;
	
  }
  
  .logo img {
	width: 100px;
	height: auto;
	
	
  }
  


 
  
  @media screen and (max-width: 320px) {
	.header {
	  flex-direction: column;
	  align-items: center;
	  font-size: 15px;
	  
	  
	}
  
	.logo {
		
	  align-items: center;
	  margin-bottom: 10px;
	  font-size: 15px;
	}
  
  }

  .cart-head {
	color: white;
	text-decoration: none;
  }

  .admin-head {
	color: white;
	text-decoration: none;
  }

